alembic~=1.13.2
pydantic~=2.9.2
pydantic[email]
pydantic-settings
fastapi~=0.115.0
pymysql
mysqlclient
python-dotenv
uvicorn
python-jwt
PyJWT~=2.9.0
python-jose[cryptography]
passlib[bcrypt]~=1.7.4
python-multipart
bcrypt
yfinance
pytest
pytest-asyncio
httpx

SQLAlchemy~=2.0.35
pydantic_core~=2.23.4
Jinja2~=3.1.4

pandas
numpy
pytest-dotenv